.header-container {
    display: flex;
    flex-direction: row;
    gap: 20px;

    ul, li {
        margin: 0;
        padding: 0;
    }
}

.menu {
    
    display: flex;
    flex-direction: row;
    gap: 20px;
}